".source.scss":
    "fill parent":
        "prefix": "fill-parent"
        "body": "@include fill-parent;"
    "outer container":
        "prefix": "outer-container"
        "body": "@include outer-container;"
    "span columns":
        "prefix": "span-columns"
        "body": "@include span-columns();"
    "row":
        "prefix": "row"
        "body": "@include row(block | table);"
    "shift":
        "prefix": "shift"
        "body": "@include shift();"
    "pad":
        "prefix": "pad"
        "body": "@include pad(2em default);"
    "omega":
        "prefix": "omega"
        "body": "@include omega();"
    "media query":
        "prefix": "media"
        "body": "@include media();"
    "new breakpoint":
        "prefix": "breakpoint"
        "body": "new-breakpoint(min-width 320px max-width 480px);"
