'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'jack-n-coke'
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'jack-n-coke:toggle'
          }
        ]
      }
    ]
  }
]
